@page "/"
@layout LandingPageLayout

<PageTitle>Index</PageTitle>


<section class="bg-gradient-primary dark:bg-gray-900 relative overflow-hidden">
    <div class="absolute h-full left-0 w-6/12">
        <img src="../images/chevron/landingpage/bg-patterns.svg"/>
    </div>

    <div class="grid max-w-screen-lg px-4 pt-12 pb-6 lg:pb-0  mx-auto lg:gap-8 xl:gap-0  lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-6 relative">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-4xl xl:text-5xl dark:text-white text-white">Financial Freedom without Boundaries</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 text-white">CEMCS allows you to control members, contribution information, loan disbursement and investment portfolios all from one place.</p>
            <a href="/identity/account/login" class="z-50 relative inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                Get started
            </a>

        </div>
        <div class="hidden lg:mt-0 lg:col-span-6 lg:flex">
            <img src="../images/chevron/landingpage/hero-image.png" alt="mockup">
        </div>
    </div>
</section>
<section class="bg-halfblue dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white text-white">About CEMES </h2>
            <p class="font-light mb-4 text-gray-500 sm:text-xl dark:text-gray-400 text-white">A credit cooperative society could be a style of credit society that's controlled by and closely-held by its members.Credit cooperative societies are registered with the first goal of advancing the economy and society via the availability of cheap credit and monetary services to their members.</p>
            <a href="#" class="text-white  font-medium rounded-lg border-2 text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">Read More</a>
        </div>
    </div>
</section>
<section class="flex items-center justify-center bg-gradient-halfblue">
    <div class="max-w-1/2  grow-0 basis-2/4 shrink-0 ">
        <img src="../images/chevron/landingpage/about-image.png"/>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-lg text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">The Cooperative Solution you can trust.</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Here are a few reasons why you should choose CEMES.</p>
        </div>
        <div class="grid gap-8 lg:grid-cols-3">
            <article class="p-6 bg-white rounded-lg   dark:bg-gray-800 text-center">
                <div class="flex justify-center items-center mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/finger-print.svg"/>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Equity</a>
                </h2>
                <p class="mb-5 font-light text-gray-500 dark:text-gray-400">We work to ensure that all members have an equal opportunity to participate in and benefit from CEMCS.</p>
                <div class="flex justify-between items-center">
                </div>
            </article>
            <article class="p-6 bg-white rounded-lg   dark:bg-gray-800 text-center">
                <div class="flex justify-center items-center mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/clipboard-list.svg"/>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Accountable</a>
                </h2>
                <p class="mb-5 font-light text-gray-500 dark:text-gray-400">Members contribute equitably to, and democratically control, the capital of the cooperative.</p>
                <div class="flex justify-between items-center">
                </div>
            </article>
            <article class="p-6 bg-white rounded-lg   dark:bg-gray-800 text-center">
                <div class="flex justify-center items-center mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/badge-check.svg"/>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Best Practices</a>
                </h2>
                <p class="mb-5 font-light text-gray-500 dark:text-gray-400">We focus on member's needs, cooperatives work for the sustainable development through policies accepted by law.</p>
                <div class="flex justify-between items-center">
                </div>
            </article>
        </div>
    </div>
</section>
<section class="bg-halfblue dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-white">Our Blog</h2>
            <p class="font-light text-white sm:text-xl ">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
        </div>
        <div class="grid gap-8 lg:grid-cols-3">
            <article class="p-6 bg-lightblue rounded-lg  dark:border-gray-700">
                <div class="flex flex-col justify-between items-start gap-2 mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/card-header.png"/>
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
                        </svg>
                        Tutorial
                    </span>

                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">
                    <a href="#">Our First Project</a>
                </h2>
                <p class="mb-5 font-light text-white">Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="Jese Leos avatar"/>
                        <span class="font-medium text-white">
                            Jese Leos
                        </span>
                    </div>

                </div>
            </article>
            <article class="p-6 bg-lightblue rounded-lg  dark:border-gray-700">
                <div class="flex flex-col justify-between items-start gap-2 mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/card-header.png"/>
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                        </svg>
                        Article
                    </span>

                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">
                    <a href="#">Our first project with React</a>
                </h2>
                <p class="mb-5 font-light text-white">Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Bonnie Green avatar"/>
                        <span class="font-medium text-white">
                            Bonnie Green
                        </span>
                    </div>

                </div>
            </article>
            <article class="p-6 bg-lightblue rounded-lg  dark:border-gray-700">
                <div class="flex flex-col justify-between items-start gap-2 mb-5 text-gray-500">
                    <img src="../images/chevron/landingpage/card-header.png"/>
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                        </svg>
                        Article
                    </span>

                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">
                    <a href="#">Our first project with React</a>
                </h2>
                <p class="mb-5 font-light text-white">Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Bonnie Green avatar"/>
                        <span class="font-medium text-white">
                            Bonnie Green
                        </span>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>