@using AP.ChevronCoop.AppDomain.Security.Approvals.ApprovalGroups;
@using AP.ChevronCoop.Entities.Security.Approvals.ApprovalGroups;
<EditForm Model="@Model">
    <FluentValidationValidator/>
    <ValidationSummary/>
    <div id="drawer-right-example-2"
         class="fixed top-0 right-0 z-40 h-screen p-4  transition-transform  bg-white w-2/5 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label-2">
        <h5 id="drawer-right-label"
            class="inline-flex items-center mb-4 text-2xl font-bold text-gray-900 dark:text-gray-400">
            Add approval group
        </h5>
        <button type="button"
                data-drawer-hide="drawer-right-example-2"
                aria-controls="drawer-right-example-2"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true"
                 class="w-5 h-5"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd">
                </path>
            </svg>
            <span class="sr-only">Close menu</span>
        </button>
        <form action="" class=" flex flex-col justify-between h-5/6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-full">
                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Add approval group
                    </label>
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Admin</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true"
                                     class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                          clip-rule="evenodd">
                                    </path>
                                </svg>
                            </div>
                            <SfComboBox CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        TValue="string" TItem="ApprovalGroupMasterView" DataSource=@ApprovalGroups
                                        FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                        ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Search by group name">
                                <ComboBoxEvents TItem="ApprovalGroupMasterView" TValue="string" OnValueSelect="@OnGroupValueSelectedhandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Text="Name" Value="Id"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </div>
                    </form>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Maximum number of approvers
                    </label>

                    <SfNumericTextBox ID="member-name" Placeholder="Enter group name"  CssClass="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      @bind-Value=@Model.NumberOfApprovers OnBlur="OnBlur" Min="1">
                    </SfNumericTextBox>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Approval workflow sequence
                    </label>

                    <SfNumericTextBox ID="member-name" Placeholder="Enter group name"  CssClass="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      @bind-Value=@Model.GroupApprovalSequence OnBlur="OnBlur" Min="1">
                    </SfNumericTextBox>
                </div>
            </div>
            <div class="flex col-span-6 sm:col-full space-x-4 justify-end">
                <button @onclick="OnCancel"
                        class="text-CEMCS-Blue-100 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        type="submit">
                    Cancel
                </button>
                <button @onclick="OnClickAddGroup" class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        type="button">
                    Add approval group
                </button>
            </div>
        </form>
    </div>

</EditForm>