@page "/Change-Password"
@layout AppUIMainLayout
@attribute [Authorize]
@inject NavigationManager UriHelper
<EditForm Model="@Model" OnValidSubmit="OnSave">
    <FluentValidationValidator @ref="_fluentValidationValidator"/>
    <ValidationSummary class="mt-2 text-sm text-red-600 dark:text-red-500"/>
    <main>
        <div class="px-4 pt-6">


            <div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
                <div class="col-span-2">
                    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                        <h3 class="mb-4 text-xl font-bold dark:text-white">
                            Password information
                        </h3>

                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="first-name"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Current password
                                </label>
                                @* <input type="password"
                               @bind-value=OldPassword
                               id="password"
                               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               placeholder="Enter your current pssword"
                               required />*@
                                <SfTextBox ID="OldPassword" Placeholder="***********" Type="InputType.Password" CssClass="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                           @bind-Value=@Model.OldPassword>
                                </SfTextBox>
                                <ValidationMessage For="() => Model.OldPassword" class="mt-2 text-sm text-red-600 dark:text-red-500"/>
                            </div>
                        </div>


                        <div class="col-span-6 sm:col-span-3">
                            <label for="phonenmber1"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                New Password
                            </label>
                            @* <input type="password"
                               @bind-value=Password
                               id="password"
                               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               placeholder="Enter your new password"
                               required />*@
                            <SfTextBox ID="password" Placeholder="***********" Type="InputType.Password" CssClass="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                       @bind-Value=@Model.NewPassword>
                            </SfTextBox>
                            <ValidationMessage For="() => Model.NewPassword" class="mt-2 text-sm text-red-600 dark:text-red-500"/>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label for="password"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Confirm new password
                            </label>
                            @*  <input type="password"
                               @bind-value=Confirmpassword
                               id="password"
                               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               placeholder="Confirm your new password"
                               required />*@
                            <SfTextBox ID="ConfirmPassword" Placeholder="***********" Type="InputType.Password" CssClass="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                       @bind-Value=@Model.ConfirmPassword>
                            </SfTextBox>
                            <ValidationMessage For="() => Model.ConfirmPassword" class="mt-2 text-sm text-red-600 dark:text-red-500"/>
                        </div>
                        <div class="col-span-6 sm:col-full">
                            <h2 class="text-gray-900 font-medium text-sm mb-3">Password requirement:</h2>
                            <h2 class="text-gray-500 text-sm font-normal mb-3">Ensure that these requirements are met</h2>
                            <ul>
                                <li class="ml-3 text-gray-500 text-sm font-normal mb-2">At least 10 characters (and up to 100 characters)</li>
                                <li class="ml-3  text-gray-500 text-sm font-normal mb-2">At least one uppercase character</li>
                                <li class="ml-3  text-gray-500 text-sm font-normal mb-2">Inclusion of at least one special character, e.g., ! @@ # ?</li>
                            </ul>
                        </div>
                        <div class="col-span-6 sm:col-full">
                            <button class="text-white bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                    type="submit" disabled="@ButtonDisabled">
                                @ButtonText
                            </button>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </main>
</EditForm>
<Modal Visible="@showPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
       class="fixed top-0 left-0 right-0 z-50 p-4  overflow-y-auto md:inset-0 h-modal md:h-full relative w-full h-full max-w-md md:h-auto relative bg-white rounded-lg shadow dark:bg-gray-700">
    <span class="sr-only">Close modal</span>

    <div class="p-9 text-center flex flex-col items-center">
        <h3 class="mb-5  text-2xl text-gray-900 font-bold text-gray-500 dark:text-gray-400">Password Change Successful</h3>
        <img class="w-1/2" src="../images/chevron/modal-icon/verify.svg"/>
        <button @onclick="OnCloseModal" type="button" class="w-full text-white bg-CEMCS-Blue-100 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-CEMCS-Blue-100 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Continue</button>
    </div>
</Modal>