<div class="p-12 justify-center items-center w-full bg-white rounded-lg shadow lg:flex  lg:max-w-xl dark:bg-gray-800">
    <div class="flex items-center mx-auto md:w-[42rem] px-4 md:px-8 xl:px-0">
        <div class="w-full">


            <h1 class=" mb-4 text-3xl font-bold leading-tight tracking-tight text-gray-900 sm:mb-6 dark:text-white">
                Reset Password
            </h1>
            <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <span class="font-medium">Info!</span> Password must be up to 8 character, with digit,symbol and alphabet
            </div>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 " role="alert">
                    <span class="font-medium"></span> @errorMessage
                </div>
            }

            <form class="mt-8 space-y-6">

                <div>
                    <label for="password"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        New Password
                    </label>
                    <input type="password"
                           @bind-value=@Password
                           id="password"
                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="New Password"
                           required/>
                </div>

                <div>
                    <label for="password"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Confirm New Password
                    </label>
                    <input type="password"
                           @bind-value=@Confirmpassword
                           id="password"
                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           placeholder="Confirm New Password"
                           required/>
                </div>


                <button @onclick="OnSave" type="button" disabled="@ButtonDisabled"
                        class="py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 dark:bg-CEMCS-Blue-100 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-primary-800">
                    @ButtonText
                </button>

                <Modal Visible="@showPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
                       class="fixed top-0 left-0 right-0 z-50 p-4  overflow-y-auto md:inset-0 h-modal md:h-full relative w-full h-full max-w-md md:h-auto relative bg-white rounded-lg shadow dark:bg-gray-700">


                    <span class="sr-only">Close modal</span>

                    <div class="p-9 text-center flex flex-col items-center">
                        <h3 class="mb-5  text-2xl text-gray-900 font-bold text-gray-500 dark:text-gray-400">Password Reset Successful</h3>
                        <img class="w-1/2" src="../images/chevron/modal-icon/verify.svg"/>
                        <button @onclick="OnClose" type="button" class="w-full text-white bg-CEMCS-Blue-100 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-CEMCS-Blue-100 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Continue</button>
                    </div>


                </Modal>


            </form>
        </div>
    </div>
</div>