@page "/verify-email"
@layout LoginLayout
@inject NavigationManager UriHelper

<div class="flex flex-col justify-center items-center px-6 pt-8 mx-auto pt:mt-0 dark:bg-gray-900">

    <div class="p-12 justify-center items-center w-full bg-white rounded-lg shadow lg:flex lg:max-w-xl dark:bg-gray-800">
        <div class="flex items-center mx-auto md:w-[42rem] px-4 md:px-8 xl:px-0">
            <div class="w-full">
                <ol class="flex items-center mb-6 text-sm font-medium text-center dark:text-gray-400 lg:mb-12 sm:text-base">
                    <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                        <div class="flex items-center text-blue-400 sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                            <div class="text-xs sm:mb-2 sm:mx-auto">1</div>
                            Employee Info
                        </div>
                    </li>
                    <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                        <div class="flex items-center text-gray-500 sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                            <div class="mr-2 sm:mb-2 sm:mx-auto">2</div>
                            Account <span class="hidden sm:inline-flex">Info</span>
                        </div>
                    </li>
                    <li class="flex items-center sm:block text-gray-500">
                        <div class="mr-2 sm:mb-2 sm:mx-auto">3</div>
                        Membership fee
                    </li>
                </ol>

                <div class="flex flex-col items-center">
                    <h1 class="text-center mb-4 text-2xl font-extrabold leading-tight tracking-tight text-gray-900 sm:mb-6 dark:text-white">
                        Verify your email
                    </h1>
                    <img src="../../images/chevron/auth/Vector.svg" class="my-4"/>

                    <p class="text-center my-6 max-w-xs">
                        We have sent you a verification link to your email address.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- </section> -->
</div>

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    UriHelper.NavigateTo("/make-payment", forceLoad: true);
    //}
}