@inject IJSRuntime JSRuntime
@using Microsoft.JSInterop

<div class="flex items-center justify-center h-screen">
    <img src="../images/chevron/landingpage/logo.svg" width="150" alt="Chevron Coop" />
    <Spin size="large" />
</div>



@code {

}
