<div id="defaultModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50  p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full justify-center items-center flex">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <span class="sr-only">Close modal</span>

            <div class="p-6 text-center flex flex-col items-center">
                <h3 class="mb-5 text-lg text-2xl text-black font-semibold text-gray-500 dark:text-gray-400">File Uploaded for Approval</h3>
                <img class="w-1/2" src="../images/chevron/modal-icon/verify.svg"/>
                <div class="w-full">
                    <a href="./dataMigration4.html">
                        <button data-modal-hide="defaultModal" type="button" class="w-full text-white bg-CEMCS-Blue-100 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-CEMCS-Blue-100 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Continue</button>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}