<div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
            <div class="flex gap-4">
                <div>
                    <img src="../../images/users/jese-leos.png"/>
                </div>
                <div class="flex flex-col gap-2 items-start justify-center">
                    <h2 class="text-2xl font-bold text-gray-900">Thomas Lean</h2>
                    <h3>Senior Engineer</h3>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="col-span-2">

        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
            <div class="col-span-6 sm:col-full mb-3">
                <button class="text-CEMCS-Blue-100 border border-CEMCS-Blue-100 bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-white dark:hover:bg-white dark:focus:ring-primary-800"
                        type="submit">
                    <svg class="inline mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 7.99967H14H2Z" fill="#1F82BD"/>
                        <path d="M6.66667 12.6663L2 7.99967M2 7.99967L6.66667 3.33301M2 7.99967H14" stroke="#1F82BD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Back
                </button>
            </div>
            <h3 class="mb-4 text-xl font-bold dark:text-white">
                Personal information
            </h3>
            <form action="../KYC/NextOfKin.html">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="first-name"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            First Name
                        </label>

                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="last-name"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Last Name
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="country"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Country
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="state"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            City
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="address"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Address
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="email"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Email
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="work-address"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Phone Number
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="residential-address"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Birthday
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="phonenmber1"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Organization
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="phonenmber2"
                               class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">
                            Role
                        </label>
                        <h3 class="text-gray-900 sm:text-sm rounded-lg  block w-full    dark:text-white dark:focus:ring-primary-500">Chervon</h3>

                    </div>
                    <div class="flex items-start mb-6 col-span-6 sm:col-span-3">

                        <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">Do you wish to retire a member?</span>
                        <label class="relative inline-flex items-center cursor-pointer">

                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>

                        </label>
                    </div>


                </div>
            </form>
        </div>
    </div>

</div>