@page "/depositProductSetup/edit/{id}"

<div
    class="text-sm font-medium text-center bg-white text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex  -mb-px ">
        <li class="mr-2">
            <a href="javascript: void(0)" @onclick=@(e => ActivateTabs(1))
               class="inline-block p-4  @GLAccountTab rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
                GL
                Accounts
            </a>
        </li>
        <li class="mr-2">
            <a href="javascript: void(0)" @onclick=@(e => ActivateTabs(2))
               class="inline-block p-4 @BasicInformationTab  rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
               aria-current="page">
                Basic Information
            </a>
        </li>
        <li class="mr-2">
            <a href="javascript: void(0)" @onclick=@(e => ActivateTabs(3))
               class="inline-block p-4 @InterestRateTab  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
               aria-current="page">
                Interest Rates
            </a>
        </li>
        <li class="mr-2">
            <a href="javascript: void(0)" @onclick=@(e => ActivateTabs(4))
               class="inline-block p-4 @ApprovalTab  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
               aria-current="page">
                Approval workflow
            </a>
        </li>
    </ul>
</div>

<main>

    <div class="px-4 pt-6">

        <div class="col-span-3 sm:col-span-3">
            <a href="/DepositProductSetup/Manage/all">
                <button
                    class="text-CEMCS-Blue-100 border border-CEMCS-Blue-100 bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    type="button">
                    <svg class="inline mr-1" width="14" height="12" viewBox="0 0 14 12" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5.99967H13Z" fill="#1F82BD"/>
                        <path d="M5.66667 10.6663L1 5.99967M1 5.99967L5.66667 1.33301M1 5.99967H13" stroke="#1F82BD"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> Back
                </button>
            </a>

        </div>
        <!-- Request Tabs -->

        <div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-9 xl:gap-2 space-x-24 dark:bg-gray-900">

            <div class="col-span-6">
                @if (showGLAccounts)
                {
                    <EditDepositProductGLAccountComponent @bind-Model="Model" OnGLAccountChanged="OnProceedChangedHandler"></EditDepositProductGLAccountComponent>
                }
                @if (showBasicInformation)
                {
                    <EditDepositProductBasicInformationComponent @bind-Model="BasicModel" OnBasicChanged="OnBasicInfoProceedChangedHandler" OnBasicPreviousChanged="OnBasicInfoPreviousChangedHandler"></EditDepositProductBasicInformationComponent>
                }
                @if (showInterestRate)
                {
                    <EditDepositProductInterestRateComponent @bind-Model="Model" OnInterestChanged="OnInterestProceedChangedHandler" OnInterestPreviousChanged="OnInterestPreviousChangedHandler"></EditDepositProductInterestRateComponent>
                }
                @if (showApproval)
                {
                    <EditDepositProductApprovalComponent @bind-Model="ApprovalWorkFlowId" OnApprovalChanged="OnApprovalWorkFlowPreviousChangedHandler" OnApprovalSubmitChanged="OnApprovalWorkFlowSubmitChangedHandler"></EditDepositProductApprovalComponent>
                }

            </div>

        </div>
    </div>
    <!----------------------------------Modal----------------------------------------------->

    <Modal Visible="@showPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
           class="overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">

        <!-- Modal content -->

        <!-- Modal header -->
        <div class="flex flex-col justify-center items-center p-10 mb-4 rounded-t sm:mb-5 dark:border-gray-600">
            <svg width="79" height="80" viewBox="0 0 79 80" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M26.9305 39.9999L35.2639 48.3332L51.9305 31.6665M22.0764 9.5707C25.0651 9.33216 27.9025 8.15696 30.1847 6.21237C32.7635 4.01349 36.0415 2.80566 39.4305 2.80566C42.8195 2.80566 46.0976 4.01349 48.6764 6.21237C50.9585 8.15696 53.7959 9.33216 56.7847 9.5707C60.1628 9.83946 63.3346 11.3033 65.7309 13.6995C68.1271 16.0958 69.5909 19.2676 69.8597 22.6457C70.0982 25.6345 71.2734 28.4719 73.218 30.754C75.4169 33.3328 76.6247 36.6109 76.6247 39.9999C76.6247 43.3889 75.4169 46.6669 73.218 49.2457C71.2734 51.5279 70.0982 54.3653 69.8597 57.354C69.5909 60.7322 68.1271 63.9039 65.7309 66.3002C63.3346 68.6964 60.1628 70.1603 56.7847 70.429C53.7959 70.6676 50.9585 71.8428 48.6764 73.7874C46.0976 75.9863 42.8195 77.1941 39.4305 77.1941C36.0415 77.1941 32.7635 75.9863 30.1847 73.7874C27.9025 71.8428 25.0651 70.6676 22.0764 70.429C18.6982 70.1603 15.5265 68.6964 13.1302 66.3002C10.734 63.9039 9.27012 60.7322 9.00137 57.354C8.76282 54.3653 7.58762 51.5279 5.64303 49.2457C3.44415 46.6669 2.23633 43.3889 2.23633 39.9999C2.23633 36.6109 3.44415 33.3328 5.64303 30.754C7.58762 28.4719 8.76282 25.6345 9.00137 22.6457C9.27012 19.2676 10.734 16.0958 13.1302 13.6995C15.5265 11.3033 18.6982 9.83946 22.0764 9.5707Z"
                      stroke="#0E9F6E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <p class="break-words text-center my-8">
                Modification to @Model.Name Deposit Product has been sent to Internal control for approval.
                <span class="text-CEMCS-Blue-100">
                    We'll notify you once your application has been
                    approved.
                </span>
            </p>

            <form class="w-full">
                <button @onclick=Done type="button"
                        class="my-2 py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 dark:bg-CEMCS-Blue-100 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-primary-800">
                    Done
                </button>
            </form>
        </div>
        <!-- Modal body -->


    </Modal>
</main>

@code {

}