/****** Object:  View [Customer].[CustomerBankAccountMasterView]    Script Date: 7/6/2023 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Customer.CustomerBankAccountMasterView source

CREATE   VIEW [Customer].[CustomerBankAccountMasterView]
  as select

 ROW_NUMBER() OVER (ORDER BY CustomerBankAccount.[Id]) AS RowNumber,
CustomerBankAccount.[Id],
 CustomerBankAccount.[LedgerAccountId],
 CustomerBankAccount.[CustomerId],
 CustomerBankAccount.[BankId],
 CustomerBankAccount.[AccountName],
 CustomerBankAccount.[AccountNumber],
 CustomerBankAccount.[BVN],
 CustomerBankAccount.[Branch],
 CustomerBankAccount.[Description],
 CustomerBankAccount.[IsActive],
 CustomerBankAccount.[CreatedByUserId],
 CustomerBankAccount.[DateCreated],
 CustomerBankAccount.[UpdatedByUserId],
 CustomerBankAccount.[DateUpdated],
 CustomerBankAccount.[DeletedByUserId],
 CustomerBankAccount.[IsDeleted],
 CustomerBankAccount.[DateDeleted],
 CustomerBankAccount.[RowVersion],
 CustomerBankAccount.[FullText],
 CustomerBankAccount.[Tags],
 CustomerBankAccount.[Caption],
LedgerAccountId.[AccountType] as LedgerAccountId_AccountType,
LedgerAccountId.[UOM] as LedgerAccountId_UOM,
LedgerAccountId.[CurrencyId] as LedgerAccountId_CurrencyId,
LedgerAccountId.[Code] as LedgerAccountId_Code,
LedgerAccountId.[Name] as LedgerAccountId_Name,
LedgerAccountId.[ParentId] as LedgerAccountId_ParentId,
LedgerAccountId.[ClearedBalance] as LedgerAccountId_ClearedBalance,
LedgerAccountId.[UnclearedBalance] as LedgerAccountId_UnclearedBalance,
LedgerAccountId.[LedgerBalance] as LedgerAccountId_LedgerBalance,
LedgerAccountId.[AvailableBalance] as LedgerAccountId_AvailableBalance,
LedgerAccountId.[IsOfficeAccount] as LedgerAccountId_IsOfficeAccount,
LedgerAccountId.[AllowManualEntry] as LedgerAccountId_AllowManualEntry,
LedgerAccountId.[IsClosed] as LedgerAccountId_IsClosed,
LedgerAccountId.[DateClosed] as LedgerAccountId_DateClosed,
LedgerAccountId.[ClosedByUserName] as LedgerAccountId_ClosedByUserName,
LedgerAccountId.[IsActive] as LedgerAccountId_IsActive,
LedgerAccountId.[CreatedByUserId] as LedgerAccountId_CreatedByUserId,
LedgerAccountId.[UpdatedByUserId] as LedgerAccountId_UpdatedByUserId,
LedgerAccountId.[DeletedByUserId] as LedgerAccountId_DeletedByUserId,
LedgerAccountId.[IsDeleted] as LedgerAccountId_IsDeleted,
LedgerAccountId.[Tags] as LedgerAccountId_Tags,
LedgerAccountId.[Caption] as LedgerAccountId_Caption,
CustomerId.[CustomerNo] as CustomerId_CustomerNo,
CustomerId.[ApplicationUserId] as CustomerId_ApplicationUserId,
CustomerId.[YearsOfService] as CustomerId_YearsOfService,
CustomerId.[IsKycStarted] as CustomerId_IsKycStarted,
CustomerId.[IsKycCompleted] as CustomerId_IsKycCompleted,
CustomerId.[KycStartDate] as CustomerId_KycStartDate,
CustomerId.[KycCompletedDate] as CustomerId_KycCompletedDate,
CustomerId.[Status] as CustomerId_Status,
CustomerId.[MemberType] as CustomerId_MemberType,
CustomerId.[Gender] as CustomerId_Gender,
CustomerId.[ProfileImageUrl] as CustomerId_ProfileImageUrl,
CustomerId.[PassportUrl] as CustomerId_PassportUrl,
CustomerId.[IdentificationType] as CustomerId_IdentificationType,
CustomerId.[IdentificationNumber] as CustomerId_IdentificationNumber,
CustomerId.[IdentificationUrl] as CustomerId_IdentificationUrl,
CustomerId.[KycSubmitted] as CustomerId_KycSubmitted,
CustomerId.[KycSubmittedOn] as CustomerId_KycSubmittedOn,
CustomerId.[KycApproved] as CustomerId_KycApproved,
CustomerId.[KycApprovedOn] as CustomerId_KycApprovedOn,
CustomerId.[KycApprovedBy] as CustomerId_KycApprovedBy,
CustomerId.[FirstName] as CustomerId_FirstName,
CustomerId.[LastName] as CustomerId_LastName,
CustomerId.[MiddleName] as CustomerId_MiddleName,
CustomerId.[DepartmentId] as CustomerId_DepartmentId,
CustomerId.[MemberId] as CustomerId_MemberId,
CustomerId.[CAI] as CustomerId_CAI,
CustomerId.[RetireeNumber] as CustomerId_RetireeNumber,
CustomerId.[StateOfOrigin] as CustomerId_StateOfOrigin,
CustomerId.[PrimaryEmail] as CustomerId_PrimaryEmail,
CustomerId.[SecondaryEmail] as CustomerId_SecondaryEmail,
CustomerId.[PrimaryPhone] as CustomerId_PrimaryPhone,
CustomerId.[SecondaryPhone] as CustomerId_SecondaryPhone,
CustomerId.[ResidentialAddress] as CustomerId_ResidentialAddress,
CustomerId.[OfficeAddress] as CustomerId_OfficeAddress,
CustomerId.[Rank] as CustomerId_Rank,
CustomerId.[JobRole] as CustomerId_JobRole,
CustomerId.[DOB] as CustomerId_DOB,
CustomerId.[Address] as CustomerId_Address,
CustomerId.[Country] as CustomerId_Country,
CustomerId.[State] as CustomerId_State,
CustomerId.[IsActive] as CustomerId_IsActive,
CustomerId.[CreatedByUserId] as CustomerId_CreatedByUserId,
CustomerId.[UpdatedByUserId] as CustomerId_UpdatedByUserId,
CustomerId.[DeletedByUserId] as CustomerId_DeletedByUserId,
CustomerId.[IsDeleted] as CustomerId_IsDeleted,
CustomerId.[Tags] as CustomerId_Tags,
CustomerId.[Caption] as CustomerId_Caption,
BankId.[Code] as BankId_Code,
BankId.[SortCode] as BankId_SortCode,
BankId.[Name] as BankId_Name,
BankId.[Address] as BankId_Address,
BankId.[ContactName] as BankId_ContactName,
BankId.[ContactDetails] as BankId_ContactDetails,
BankId.[IsActive] as BankId_IsActive,
BankId.[CreatedByUserId] as BankId_CreatedByUserId,
BankId.[UpdatedByUserId] as BankId_UpdatedByUserId,
BankId.[DeletedByUserId] as BankId_DeletedByUserId,
BankId.[IsDeleted] as BankId_IsDeleted,
BankId.[Tags] as BankId_Tags,
BankId.[Caption] as BankId_Caption

 from Customer.[CustomerBankAccount] CustomerBankAccount

 left join Accounting.LedgerAccount LedgerAccountId on LedgerAccountId.Id=CustomerBankAccount.LedgerAccountId
 left join Customer.Customer CustomerId on CustomerId.Id=CustomerBankAccount.CustomerId
 left join MasterData.Bank BankId on BankId.Id=CustomerBankAccount.BankId
GO
/****** Object:  View [Customer].[CustomerBeneficiaryMasterView]    Script Date: 7/6/2023 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Customer.CustomerBeneficiaryMasterView source

CREATE   VIEW [Customer].[CustomerBeneficiaryMasterView]
  as select

 ROW_NUMBER() OVER (ORDER BY CustomerBeneficiary.[Id]) AS RowNumber,
CustomerBeneficiary.[Id],
 CustomerBeneficiary.[CustomerId],
 CustomerBeneficiary.[FirstName],
 CustomerBeneficiary.[LastName],
 CustomerBeneficiary.[Email],
 CustomerBeneficiary.[Phone],
 CustomerBeneficiary.[Address],
 CustomerBeneficiary.[Description],
 CustomerBeneficiary.[IsActive],
 CustomerBeneficiary.[CreatedByUserId],
 CustomerBeneficiary.[DateCreated],
 CustomerBeneficiary.[UpdatedByUserId],
 CustomerBeneficiary.[DateUpdated],
 CustomerBeneficiary.[DeletedByUserId],
 CustomerBeneficiary.[IsDeleted],
 CustomerBeneficiary.[DateDeleted],
 CustomerBeneficiary.[RowVersion],
 CustomerBeneficiary.[FullText],
 CustomerBeneficiary.[Tags],
 CustomerBeneficiary.[Caption],
CustomerId.[CustomerNo] as CustomerId_CustomerNo,
CustomerId.[ApplicationUserId] as CustomerId_ApplicationUserId,
CustomerId.[YearsOfService] as CustomerId_YearsOfService,
CustomerId.[IsKycStarted] as CustomerId_IsKycStarted,
CustomerId.[IsKycCompleted] as CustomerId_IsKycCompleted,
CustomerId.[KycStartDate] as CustomerId_KycStartDate,
CustomerId.[KycCompletedDate] as CustomerId_KycCompletedDate,
CustomerId.[Status] as CustomerId_Status,
CustomerId.[MemberType] as CustomerId_MemberType,
CustomerId.[Gender] as CustomerId_Gender,
CustomerId.[ProfileImageUrl] as CustomerId_ProfileImageUrl,
CustomerId.[PassportUrl] as CustomerId_PassportUrl,
CustomerId.[IdentificationType] as CustomerId_IdentificationType,
CustomerId.[IdentificationNumber] as CustomerId_IdentificationNumber,
CustomerId.[IdentificationUrl] as CustomerId_IdentificationUrl,
CustomerId.[KycSubmitted] as CustomerId_KycSubmitted,
CustomerId.[KycSubmittedOn] as CustomerId_KycSubmittedOn,
CustomerId.[KycApproved] as CustomerId_KycApproved,
CustomerId.[KycApprovedOn] as CustomerId_KycApprovedOn,
CustomerId.[KycApprovedBy] as CustomerId_KycApprovedBy,
CustomerId.[FirstName] as CustomerId_FirstName,
CustomerId.[LastName] as CustomerId_LastName,
CustomerId.[MiddleName] as CustomerId_MiddleName,
CustomerId.[DepartmentId] as CustomerId_DepartmentId,
CustomerId.[MemberId] as CustomerId_MemberId,
CustomerId.[CAI] as CustomerId_CAI,
CustomerId.[RetireeNumber] as CustomerId_RetireeNumber,
CustomerId.[StateOfOrigin] as CustomerId_StateOfOrigin,
CustomerId.[PrimaryEmail] as CustomerId_PrimaryEmail,
CustomerId.[SecondaryEmail] as CustomerId_SecondaryEmail,
CustomerId.[PrimaryPhone] as CustomerId_PrimaryPhone,
CustomerId.[SecondaryPhone] as CustomerId_SecondaryPhone,
CustomerId.[ResidentialAddress] as CustomerId_ResidentialAddress,
CustomerId.[OfficeAddress] as CustomerId_OfficeAddress,
CustomerId.[Rank] as CustomerId_Rank,
CustomerId.[JobRole] as CustomerId_JobRole,
CustomerId.[DOB] as CustomerId_DOB,
CustomerId.[Address] as CustomerId_Address,
CustomerId.[Country] as CustomerId_Country,
CustomerId.[State] as CustomerId_State,
CustomerId.[IsActive] as CustomerId_IsActive,
CustomerId.[CreatedByUserId] as CustomerId_CreatedByUserId,
CustomerId.[UpdatedByUserId] as CustomerId_UpdatedByUserId,
CustomerId.[DeletedByUserId] as CustomerId_DeletedByUserId,
CustomerId.[IsDeleted] as CustomerId_IsDeleted,
CustomerId.[Tags] as CustomerId_Tags,
CustomerId.[Caption] as CustomerId_Caption

 from Customer.[CustomerBeneficiary] CustomerBeneficiary

 left join Customer.Customer CustomerId on CustomerId.Id=CustomerBeneficiary.CustomerId
GO
/****** Object:  View [Customer].[CustomerMasterView]    Script Date: 7/6/2023 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Customer.CustomerMasterView source

CREATE   VIEW [Customer].[CustomerMasterView]
  as select

 ROW_NUMBER() OVER (ORDER BY Customer.[Id]) AS RowNumber,
Customer.[Id],
 Customer.[CustomerNo],
 Customer.[ApplicationUserId],
 Customer.[YearsOfService],
 Customer.[IsKycStarted],
 Customer.[IsKycCompleted],
 Customer.[KycStartDate],
 Customer.[KycCompletedDate],
 Customer.[Status],
 Customer.[MemberType],
 Customer.[Gender],
 Customer.[ProfileImageUrl],
 Customer.[PassportUrl],
 Customer.[IdentificationType],
 Customer.[IdentificationNumber],
 Customer.[IdentificationUrl],
 Customer.[KycSubmitted],
 Customer.[KycSubmittedOn],
 Customer.[KycApproved],
 Customer.[KycApprovedOn],
 Customer.[KycApprovedBy],
 Customer.[FirstName],
 Customer.[LastName],
 Customer.[MiddleName],
 Customer.[DepartmentId],
 Customer.[MemberId],
 Customer.[CAI],
 Customer.[RetireeNumber],
 Customer.[StateOfOrigin],
 Customer.[PrimaryEmail],
 Customer.[SecondaryEmail],
 Customer.[PrimaryPhone],
 Customer.[SecondaryPhone],
 Customer.[ResidentialAddress],
 Customer.[OfficeAddress],
 Customer.[Rank],
 Customer.[JobRole],
 Customer.[DOB],
 Customer.[Address],
 Customer.[Country],
 Customer.[State],
 Customer.[Description],
 Customer.[IsActive],
 Customer.[CreatedByUserId],
 Customer.[DateCreated],
 Customer.[UpdatedByUserId],
 Customer.[DateUpdated],
 Customer.[DeletedByUserId],
 Customer.[IsDeleted],
 Customer.[DateDeleted],
 Customer.[RowVersion],
 Customer.[FullText],
 Customer.[Tags],
 Customer.[Caption],
ApplicationUserId.[AdObjectId] as ApplicationUserId_AdObjectId,
ApplicationUserId.[IsAdmin] as ApplicationUserId_IsAdmin,
ApplicationUserId.[SecondaryPhone] as ApplicationUserId_SecondaryPhone,
ApplicationUserId.[SecondaryPhoneConfirmed] as ApplicationUserId_SecondaryPhoneConfirmed,
ApplicationUserId.[UserName] as ApplicationUserId_UserName,
ApplicationUserId.[NormalizedUserName] as ApplicationUserId_NormalizedUserName,
ApplicationUserId.[Email] as ApplicationUserId_Email,
ApplicationUserId.[NormalizedEmail] as ApplicationUserId_NormalizedEmail,
ApplicationUserId.[EmailConfirmed] as ApplicationUserId_EmailConfirmed,
ApplicationUserId.[PasswordHash] as ApplicationUserId_PasswordHash,
ApplicationUserId.[SecurityStamp] as ApplicationUserId_SecurityStamp,
ApplicationUserId.[ConcurrencyStamp] as ApplicationUserId_ConcurrencyStamp,
ApplicationUserId.[PhoneNumber] as ApplicationUserId_PhoneNumber,
ApplicationUserId.[PhoneNumberConfirmed] as ApplicationUserId_PhoneNumberConfirmed,
ApplicationUserId.[TwoFactorEnabled] as ApplicationUserId_TwoFactorEnabled,
ApplicationUserId.[LockoutEnd] as ApplicationUserId_LockoutEnd,
ApplicationUserId.[LockoutEnabled] as ApplicationUserId_LockoutEnabled,
ApplicationUserId.[AccessFailedCount] as ApplicationUserId_AccessFailedCount,
DepartmentId.[Name] as DepartmentId_Name,
DepartmentId.[IsActive] as DepartmentId_IsActive,
DepartmentId.[CreatedByUserId] as DepartmentId_CreatedByUserId,
DepartmentId.[UpdatedByUserId] as DepartmentId_UpdatedByUserId,
DepartmentId.[DeletedByUserId] as DepartmentId_DeletedByUserId,
DepartmentId.[IsDeleted] as DepartmentId_IsDeleted,
DepartmentId.[Tags] as DepartmentId_Tags,
DepartmentId.[Caption] as DepartmentId_Caption

 from Customer.[Customer] Customer

 left join Security.ApplicationUser ApplicationUserId on ApplicationUserId.Id=Customer.ApplicationUserId
 left join MasterData.Department DepartmentId on DepartmentId.Id=Customer.DepartmentId
GO
/****** Object:  View [Customer].[CustomerNextOfKinMasterView]    Script Date: 7/6/2023 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Customer.CustomerNextOfKinMasterView source

CREATE   VIEW [Customer].[CustomerNextOfKinMasterView]
  as select

 ROW_NUMBER() OVER (ORDER BY CustomerNextOfKin.[Id]) AS RowNumber,
CustomerNextOfKin.[Id],
 CustomerNextOfKin.[CustomerId],
 CustomerNextOfKin.[FirstName],
 CustomerNextOfKin.[LastName],
 CustomerNextOfKin.[Email],
 CustomerNextOfKin.[Phone],
 CustomerNextOfKin.[Relationship],
 CustomerNextOfKin.[Address],
 CustomerNextOfKin.[Description],
 CustomerNextOfKin.[IsActive],
 CustomerNextOfKin.[CreatedByUserId],
 CustomerNextOfKin.[DateCreated],
 CustomerNextOfKin.[UpdatedByUserId],
 CustomerNextOfKin.[DateUpdated],
 CustomerNextOfKin.[DeletedByUserId],
 CustomerNextOfKin.[IsDeleted],
 CustomerNextOfKin.[DateDeleted],
 CustomerNextOfKin.[RowVersion],
 CustomerNextOfKin.[FullText],
 CustomerNextOfKin.[Tags],
 CustomerNextOfKin.[Caption],
CustomerId.[CustomerNo] as CustomerId_CustomerNo,
CustomerId.[ApplicationUserId] as CustomerId_ApplicationUserId,
CustomerId.[YearsOfService] as CustomerId_YearsOfService,
CustomerId.[IsKycStarted] as CustomerId_IsKycStarted,
CustomerId.[IsKycCompleted] as CustomerId_IsKycCompleted,
CustomerId.[KycStartDate] as CustomerId_KycStartDate,
CustomerId.[KycCompletedDate] as CustomerId_KycCompletedDate,
CustomerId.[Status] as CustomerId_Status,
CustomerId.[MemberType] as CustomerId_MemberType,
CustomerId.[Gender] as CustomerId_Gender,
CustomerId.[ProfileImageUrl] as CustomerId_ProfileImageUrl,
CustomerId.[PassportUrl] as CustomerId_PassportUrl,
CustomerId.[IdentificationType] as CustomerId_IdentificationType,
CustomerId.[IdentificationNumber] as CustomerId_IdentificationNumber,
CustomerId.[IdentificationUrl] as CustomerId_IdentificationUrl,
CustomerId.[KycSubmitted] as CustomerId_KycSubmitted,
CustomerId.[KycSubmittedOn] as CustomerId_KycSubmittedOn,
CustomerId.[KycApproved] as CustomerId_KycApproved,
CustomerId.[KycApprovedOn] as CustomerId_KycApprovedOn,
CustomerId.[KycApprovedBy] as CustomerId_KycApprovedBy,
CustomerId.[FirstName] as CustomerId_FirstName,
CustomerId.[LastName] as CustomerId_LastName,
CustomerId.[MiddleName] as CustomerId_MiddleName,
CustomerId.[DepartmentId] as CustomerId_DepartmentId,
CustomerId.[MemberId] as CustomerId_MemberId,
CustomerId.[CAI] as CustomerId_CAI,
CustomerId.[RetireeNumber] as CustomerId_RetireeNumber,
CustomerId.[StateOfOrigin] as CustomerId_StateOfOrigin,
CustomerId.[PrimaryEmail] as CustomerId_PrimaryEmail,
CustomerId.[SecondaryEmail] as CustomerId_SecondaryEmail,
CustomerId.[PrimaryPhone] as CustomerId_PrimaryPhone,
CustomerId.[SecondaryPhone] as CustomerId_SecondaryPhone,
CustomerId.[ResidentialAddress] as CustomerId_ResidentialAddress,
CustomerId.[OfficeAddress] as CustomerId_OfficeAddress,
CustomerId.[Rank] as CustomerId_Rank,
CustomerId.[JobRole] as CustomerId_JobRole,
CustomerId.[DOB] as CustomerId_DOB,
CustomerId.[Address] as CustomerId_Address,
CustomerId.[Country] as CustomerId_Country,
CustomerId.[State] as CustomerId_State,
CustomerId.[IsActive] as CustomerId_IsActive,
CustomerId.[CreatedByUserId] as CustomerId_CreatedByUserId,
CustomerId.[UpdatedByUserId] as CustomerId_UpdatedByUserId,
CustomerId.[DeletedByUserId] as CustomerId_DeletedByUserId,
CustomerId.[IsDeleted] as CustomerId_IsDeleted,
CustomerId.[Tags] as CustomerId_Tags,
CustomerId.[Caption] as CustomerId_Caption

 from Customer.[CustomerNextOfKin] CustomerNextOfKin

 left join Customer.Customer CustomerId on CustomerId.Id=CustomerNextOfKin.CustomerId
GO
