/****** Object:  View [HR].[EmployeeMasterView]    Script Date: 7/6/2023 5:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- HR.EmployeeMasterView source

CREATE   VIEW [HR].[EmployeeMasterView]
  as select

 ROW_NUMBER() OVER (ORDER BY Employee.[Id]) AS RowNumber,
Employee.[Id],
 Employee.[EmployeeNo],
 Employee.[LastName],
 Employee.[MiddleName],
 Employee.[FirstName],
 Employee.[Dob],
 Employee.[Gender],
 Employee.[ProfileImageUrl],
 Employee.[EmploymentDate],
 Employee.[DepartmentId],
 Employee.[CustomerId],
 Employee.[Description],
 Employee.[IsActive],
 Employee.[CreatedByUserId],
 Employee.[DateCreated],
 Employee.[UpdatedByUserId],
 Employee.[DateUpdated],
 Employee.[DeletedByUserId],
 Employee.[IsDeleted],
 Employee.[DateDeleted],
 Employee.[RowVersion],
 Employee.[FullText],
 Employee.[Tags],
 Employee.[Caption],
DepartmentId.[Name] as DepartmentId_Name,
DepartmentId.[IsActive] as DepartmentId_IsActive,
DepartmentId.[CreatedByUserId] as DepartmentId_CreatedByUserId,
DepartmentId.[UpdatedByUserId] as DepartmentId_UpdatedByUserId,
DepartmentId.[DeletedByUserId] as DepartmentId_DeletedByUserId,
DepartmentId.[IsDeleted] as DepartmentId_IsDeleted,
DepartmentId.[Tags] as DepartmentId_Tags,
DepartmentId.[Caption] as DepartmentId_Caption,
CustomerId.[CustomerNo] as CustomerId_CustomerNo,
CustomerId.[ApplicationUserId] as CustomerId_ApplicationUserId,
CustomerId.[YearsOfService] as CustomerId_YearsOfService,
CustomerId.[IsKycStarted] as CustomerId_IsKycStarted,
CustomerId.[IsKycCompleted] as CustomerId_IsKycCompleted,
CustomerId.[KycStartDate] as CustomerId_KycStartDate,
CustomerId.[KycCompletedDate] as CustomerId_KycCompletedDate,
CustomerId.[Status] as CustomerId_Status,
CustomerId.[MemberType] as CustomerId_MemberType,
CustomerId.[Gender] as CustomerId_Gender,
CustomerId.[ProfileImageUrl] as CustomerId_ProfileImageUrl,
CustomerId.[PassportUrl] as CustomerId_PassportUrl,
CustomerId.[IdentificationType] as CustomerId_IdentificationType,
CustomerId.[IdentificationNumber] as CustomerId_IdentificationNumber,
CustomerId.[IdentificationUrl] as CustomerId_IdentificationUrl,
CustomerId.[KycSubmitted] as CustomerId_KycSubmitted,
CustomerId.[KycSubmittedOn] as CustomerId_KycSubmittedOn,
CustomerId.[KycApproved] as CustomerId_KycApproved,
CustomerId.[KycApprovedOn] as CustomerId_KycApprovedOn,
CustomerId.[KycApprovedBy] as CustomerId_KycApprovedBy,
CustomerId.[FirstName] as CustomerId_FirstName,
CustomerId.[LastName] as CustomerId_LastName,
CustomerId.[MiddleName] as CustomerId_MiddleName,
CustomerId.[DepartmentId] as CustomerId_DepartmentId,
CustomerId.[MemberId] as CustomerId_MemberId,
CustomerId.[CAI] as CustomerId_CAI,
CustomerId.[RetireeNumber] as CustomerId_RetireeNumber,
CustomerId.[StateOfOrigin] as CustomerId_StateOfOrigin,
CustomerId.[PrimaryEmail] as CustomerId_PrimaryEmail,
CustomerId.[SecondaryEmail] as CustomerId_SecondaryEmail,
CustomerId.[PrimaryPhone] as CustomerId_PrimaryPhone,
CustomerId.[SecondaryPhone] as CustomerId_SecondaryPhone,
CustomerId.[ResidentialAddress] as CustomerId_ResidentialAddress,
CustomerId.[OfficeAddress] as CustomerId_OfficeAddress,
CustomerId.[Rank] as CustomerId_Rank,
CustomerId.[JobRole] as CustomerId_JobRole,
CustomerId.[DOB] as CustomerId_DOB,
CustomerId.[Address] as CustomerId_Address,
CustomerId.[Country] as CustomerId_Country,
CustomerId.[State] as CustomerId_State,
CustomerId.[IsActive] as CustomerId_IsActive,
CustomerId.[CreatedByUserId] as CustomerId_CreatedByUserId,
CustomerId.[UpdatedByUserId] as CustomerId_UpdatedByUserId,
CustomerId.[DeletedByUserId] as CustomerId_DeletedByUserId,
CustomerId.[IsDeleted] as CustomerId_IsDeleted,
CustomerId.[Tags] as CustomerId_Tags,
CustomerId.[Caption] as CustomerId_Caption

 from HR.[Employee] Employee

 left join MasterData.Department DepartmentId on DepartmentId.Id=Employee.DepartmentId
 left join Customer.Customer CustomerId on CustomerId.Id=Employee.CustomerId
GO
