@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime




<main class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col justify-center items-center px-6 pt-8 mx-auto  pt:mt-0 dark:bg-gray-900">
        <div class="mb-8 w-24 h-8">
            <img src="../images/chevron/landingpage/logo.svg" />
        </div>

      @Body

    </div>
</main>



@code {

}
