<div
    class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">

    <h3 class="mb-4 text-xl font-bold dark:text-white">
        KYC document
    </h3>

    <p>
        Your KYC information has been submitted successfully. <span class="text-CEMCS-Blue-100">We'll notify you once your <br/>application has been approved.</span>
    </p>
</div>

@code {

}